.subtrack {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 100vw;
    width: 100%;
    height: 992.01px;
}

.subtrack460 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 100vw;
    width: 100%;
    height: 406px;
}

.eclipse_7 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 33vw;
}

.eclipse_6 {
    position: absolute;
    top: -73px;
    left: 50vw;
    width: 49vw;
    z-index: 2;
}

.hedgehog_1 {
    position: absolute;
    z-index: 3;
    /* top: calc(100vw / 3.5) */
    top: 550px;
}

.hedgehog_2 {
    position: absolute;
    z-index: 43;
    right: 0px;
    /* top: calc(100vw / 2.6) */
    top: 740px;
}

@media screen and (max-width:1464px) {

    .hedgehog_1 {
        top: 1000px;
    }

    .hedgehog_2 {
        top: 1200px;
    }
}

@media screen and (max-width:1464px) {

    .hedgehog_2 {
        top: 1200px;
    }
}

@media screen and (max-width:1024px) {

    .hedgehog_1 {
        display: none;
    }

    .hedgehog_2 {
        top: 950px;
    }

    .subtrack {
        height: 720px;
    }
}

@media screen and (max-width:708px) {
    .subtrack {
        display: none;
    }

    .hedgehog_2 {
        top: 700px;
    }

    .subtrack460 {
        display: block;
    }
}

@media screen and (max-width:460px) {

    .hedgehog_2 {
        top: 300px;
        width: 213px;
        height: 203px;
    }


}