* {
    margin: 0;
    padding: 0;
    list-style: none;
    /* outline: 2px solid red; */
}

html {}

.container {

    max-width: 1197px;
    width: 100%;
    margin: 0 auto;
    margin-top: 635px;
    /* text-align: center; */
}

@media screen and (max-width:1454px) {
    .container {
        margin-top: 1135px;
    }
}

@media screen and (max-width:1024px) {
    .container {
        margin-top: 35px;
    }
}

@media screen and (max-width:640px) {
    .container {
        margin-top: 135px;
    }
}